a {
	color: dimgray;
	text-decoration: none;
}

a:hover 
{
	color: #111; 
	text-decoration:none; 
	cursor:pointer;  
}


.current-link {
	color: #111;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 200px;
}

.nav ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0;
}

.nav-item {
	text-decoration: none;
	letter-spacing: 2px;
	list-style: none;
	margin: 6px 15px;
	color: #a2a4a9;
	font-family: 'Jost', sans-serif;
	font-size: 13px;
	font-weight: 300;
	text-transform: lowercase;

}

.title-name {
	margin-top: 100px;
	color: #424242;
	font-family: 'Oswald', sans-serif;
	font-size: 36px;
	font-weight: 300;
	font-style: normal;
	letter-spacing: 8px;
	text-transform: uppercase;
	margin-bottom: 0;
	line-height: 1.2em;
}

.content {
	max-width: 900px;
	width: 900px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin: 14px 0 14px 0;
	padding: 24px 0 28px 0;
}

.gallery {
}

.gallery-block {
	width: 31%;
	padding: 1.5%;
	display: inline-block;
}

.gallery-block:first-child {
	padding-left: 0;
}

.gallery-block:last-child {
	padding-right: 0;
}

.gallery-block img {
	width: 100%;
}

.gallery-block:hover img {
	opacity: 0.3;
}

.gallery-description {
	display: block;
	text-align: center;
	font-family: 'Jost', sans-serif;
	font-size: 14px
	font-weight: 300;
}

#about-image {
	width: 48%;
	display: inline-block;
}

#about-image img {
	display: block;
	margin: 16px auto 28px auto;
	width: 375px;
	border-radius: 9px;
}

#about-text {
	font-family: 'Jost';
	display: inline-block;
	vertical-align: top;
	margin-left: 4%;
	width: 47%;
}

.about-head {
	color: #3e3c3c;
	font-size: 22px;
	letter-spacing: 1px;
	font-style: normal;
	font-weight: 400;
	margin-top: 10px;
}	

.about-description {
	color: #7a7a7a;
	font-size: 15px;
	font-weight: 300;
}

.copyright {
	display: block;
	font-family: 'Jost';
	font-size: 15px;
	color: #7a7a7a;
	text-align: left;
	width: 900px;
}
